html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.titulo {
  font-size: 2.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #eef1eb;
  text-align: center;
  background-color: black;
  padding: 7px;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2,
h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-decoration: underline;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-align: right;

}

h4 {
  text-align: right;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

}

.home {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.home:hover {
  transform: translateY(-5px);
  transition: all 0.25s;
}

.container {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  border-radius: 8px;
  text-align: center;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
  border: 1px solid #e1dfdf;
  padding: 35px;
}


.precio {
  text-align: right;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 10px;
  border-bottom: 1px solid black;
}

.cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  display: inline-block;
}

.quantity .input-text.qty {
  width: 35px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}

.quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top;
  margin: 0px 30px;
  top: 2px;
}

.quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor: pointer;
}

.quantity.buttons_added .minus {
  border-right: 0;
}

.quantity.buttons_added .plus {
  border-left: 0;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
  background: rgb(52, 52, 52);
  color: white;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
  transform: translateY(-2px);
  transition: all 0.25s;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
  outline: none;
}